@import url(https://fonts.google.com/specimen/Montserrat?category=Sans+Serif,Display);

html {
  font-size: 16px;
}

body {
  color: rgb(65, 65, 65);
  background-color: rgb(240, 240, 240);
  font-family: "Montserrat", system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(52, 129, 253);
}

a:hover {
  color: rgb(148, 185, 253);
  transition: 0.1s;
}

img,
video {
  object-fit: contain;
  flex-shrink: 0;
}

/* Increasing font for smaller devices:
- https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/#calculating-preferred-value-parameters-based-on-specific-starting-and-ending-points
- https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/#using-negative-viewport-value-for-fluid-sizing
*/
h1 {
  font-size: clamp(1.8rem, -7.2vw + 8.1rem, 5.4rem);
}
h2 {
  font-size: clamp(1.5rem, -6vw + 6.75rem, 4.5rem);
}
.title {
  font-weight: bold;
  font-size: clamp(1.25rem, -5vw + 5.625rem, 3.75rem);
}
figcaption,
p,
a,
li {
  font-size: clamp(1rem, -4vw + 4.5rem, 3rem);
}
.date {
  font-style: italic;
  font-size: clamp(0.75rem, -2.5vw + 2.9375rem, 2rem);
}

ul {
  text-align: left;
}

.container {
  margin: 100px auto;
  width: min(95%, 1000px);
}

.text-center {
  text-align: center;
}

.display {
  height: 200px;
}

.ntm {
  margin-top: 0;
}

.list {
  display: flex;
  gap: 1rem;
}

.vert {
  flex-direction: column;
}

.vert.big {
  gap: 2rem;
}

.horiz-sb {
  justify-content: space-between;
}

.content-center {
  align-items: center;
}

.logo {
  width: 75px;
}

.wrap {
  flex-wrap: wrap;
}

.ng {
  gap: 0;
}
