html {
  font-size: 16px;
}

body {
  color: rgb(220, 220, 220);
  background-color: rgb(35, 35, 35);
  font-family: Helvetica sans-serif;
  text-align: center;
}

div {
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: rgb(135, 177, 255);
}

ul {
  display: inline-block;
  text-align: left;
}

h1 {
  font-size: clamp(2rem, -4vw + 0.34375rem, 4rem);
}

p,
ul li {
  font-size: clamp(1rem, -2vw + 0.171875rem, 2rem);
}