html {
  font-size: 16px;
}

body {
  color: rgb(220, 220, 220);
  background-color: rgb(35, 35, 35);
  font-family: Helvetica sans-serif;
  text-align: center;
}

div {
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 0px) {
  p,
  ul li {
    font-size: 1rem;
  }
}

@media (min-width: 400px) {
  p,
  ul li {
    font-size: calc(1rem + 1vw);
  }
}

@media (min-width: 1001px) {
  p,
  ul li {
    font-size: 1.75rem;
  }
}

a {
  color: rgb(135, 177, 255);
}

ul {
  display: inline-block;
  text-align: left;
}
