@import url(https://fonts.google.com/specimen/Indie+Flower?category=Handwriting);

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Custom CSS */
@import url(https://fonts.google.com/specimen/Montserrat?category=Sans+Serif,Display);

html {
  font-size: 16px;
}

body {
  color: rgb(65, 65, 65);
  background-color: rgb(240, 240, 240);
  font-family: "Montserrat", system-ui, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  text-align: left;
}

header,
main,
footer {
  width: min(95%, 1000px);
  margin: 100px auto; /* margin collapse -> give both same margin */
}

header,
main,
footer,
div {
  display: flex;
  flex-direction: column;
}

header,
main,
footer {
  gap: 2rem;
}

div {
  gap: 1rem;
}


h1,
h2,
.title {
  font-weight: bold;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(52, 129, 253);
}

a:hover {
  color: rgb(148, 185, 253);
  transition: 0.1s;
}

img,
video,
iframe {
  object-fit: contain;
  height: 200px;
  width: auto;
}

blockquote,
em,
.date {
  font-style: italic;
}

ol {
  list-style-type: decimal;
}

ul {
  list-style-type: disc;
}

ol,
ul {
  text-align: left;
}

blockquote,
ul {
  margin-left: 2rem;
}

ol {
  margin-left: .5rem;
}

/* Increasing font for smaller devices:
- https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/#calculating-preferred-value-parameters-based-on-specific-starting-and-ending-points
- https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/#using-negative-viewport-value-for-fluid-sizing
*/
h1 {
  font-size: clamp(1.8rem, -7.2vw + 8.1rem, 5.4rem);
}
h2 {
  font-size: clamp(1.5rem, -6vw + 6.75rem, 4.5rem);
}
.title {
  font-size: clamp(1.25rem, -5vw + 5.625rem, 3.75rem);
}
figcaption,
p,
a,
li,
blockquote {
  font-size: clamp(1rem, -4vw + 4.5rem, 3rem);
}
.date {
  font-size: clamp(0.75rem, -2.5vw + 2.9375rem, 2rem);
}

.tc {
  text-align: center;
}

.ac {
  align-items: center;
}

.logo {
  width: 50px;
  height: auto;
  object-fit: contain;
}

.horiz {
  flex-direction: row;
}

.jc {
  justify-content: center;
}

.wrap {
  flex-wrap: wrap;
}

.nlm {
  margin-left: 0;
}

.sb {
  justify-content: space-between;
}

.ntm {
  margin-top: 0;
}