html {
  font-size: 16px;
}

body {
  color: rgb(210, 210, 210);
  background-color: rgb(45, 45, 45);
  font-family: Helvetica sans-serif;
  text-align: center;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: rgb(52, 129, 253);
}

a:hover {
  color: rgb(148, 185, 253);
  transition: 0.1s;
}

ul {
  text-align: left;
}

img,
video {
  object-fit: contain;
}

/* Increasing font for smaller devices:
- https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/#calculating-preferred-value-parameters-based-on-specific-starting-and-ending-points
- https://www.smashingmagazine.com/2022/01/modern-fluid-typography-css-clamp/#using-negative-viewport-value-for-fluid-sizing
*/
h1 {
  font-size: clamp(2rem, -12vw + 12.5rem, 8rem);
}
p,
a,
li {
  font-size: clamp(1rem, -6vw + 6.25rem, 4rem);
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: min(95%, 1000px);
  max-width: 100%;
  margin: auto;
}

.ul-spaced {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ul-item {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.logo-container {
  flex-shrink: 0;
}

.logo {
  width: 100px;
  max-height: 200px;
}

.ul-display-item {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  flex-shrink: 0;
}

.display {
  width: 800px;
  max-height: 600px;
}
